[submodule "external/glew_src"]
	path = external/glew_src
	url = git@github.com:et1337/glew.git
[submodule "external/assimp"]
	path = external/assimp
	url = git@github.com:et1337/assimp.git
[submodule "external/glfw"]
	path = external/glfw
	url = git@github.com:et1337/glfw.git
[submodule "external/lodepng"]
	path = external/lodepng
	url = git@github.com:et1337/lodepng.git
[submodule "external/bullet"]
	path = external/bullet
	url = git@github.com:et1337/bullet3.git
[submodule "external/cereal"]
	path = external/cereal
	url = git@github.com:et1337/cereal.git
