/build/
/final/
/final-linux/
/final-mac/
/pdb/
/ps/
__pycache__
*.pyc
.exrc
*.blend1
*.blend2
.p4config
/assets/audio/IncrementalSoundBankData.xml
/assets/audio/*.wsettings
/assets/audio/*.validationcache
/assets/audio/.backup
/assets/audio/.cache
/assets/audio/*.prof
/assets/audio/GeneratedSoundBanks
/assets/audio/Originals/WavAnalysis.cache
*.akd
.DS_Store
/*.dir
/x64/
*.cache
/src/asset/version.h
/thirdparty
ship/cache