[submodule "external/glew_src"]
	path = external/glew_src
	url = git@github.com:etodd/glew.git
[submodule "external/assimp"]
	path = external/assimp
	url = git@github.com:etodd/assimp.git
[submodule "external/glfw"]
	path = external/glfw
	url = git@github.com:etodd/glfw.git
[submodule "external/lodepng"]
	path = external/lodepng
	url = git@github.com:etodd/lodepng.git
[submodule "external/bullet"]
	path = external/bullet
	url = git@github.com:etodd/bullet3.git
[submodule "external/recast"]
	path = external/recast
	url = git@github.com:etodd/recastnavigation.git
[submodule "src/game"]
	path = src/game
	url = git@bitbucket.org:etodd/mkzebra_private.git
