[Unit]
Description=lasercrabsrv2
After=syslog.target
After=network.target
OnFailure=unit-status-mail@%n.service

[Service]
LimitCORE=infinity
User=root
WorkingDirectory=/root/lasercrabs
ExecStart=/root/deceiver/lasercrabsrv 21366
Restart=on-failure

[Install]
WantedBy=multi-user.target
